<footer>
    <div class="cart-modal-button">
        <button id="cart-btn">(<span id="cart-count"> 0 </span>) Veja seu carrinho</button>
    </div>
    <div class="fullscreen" id="cart-modal">
        <div class="carrinho">
            <h2>Meu carrinho</h2>
            <div i="cart-items"></div>
            <p>Total: <span id="cart-total">0.00</span></p>
            <p>Endereço de entrega:</p>
            <input type="text" id="address" placeholder="Digite seu endereço completo">
            <div id="address-warn">Digite seu endereço completo!</div>
            <div>
                <button id="close-modal-btn">Fechar</button>
                <button id="checkout-btn">Finalizar pedido</button>
            </div>
        </div>
    </div>
</footer>