<div class="container">
    <div class="text">
        <h1>A DevDoceria</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatum similique iure ea obcaecati minus? Ducimus voluptate blanditiis accusamus quaerat exercitationem fugiat, veritatis quisquam, pariatur iste mollitia consequuntur cumque ullam!</p>
    </div>
    <div class="img">
        <img src="/confeitaria.jpg" alt="">
    </div>
</div>
<div class="menu">
    <h2>Cardápio</h2>
    <div class="grid">
        <div class="card">
            <img src="/brigadeiro.png" alt="">
            <p class="card-title" data-name="brigadeiro">Brigadeiro</p>
            <div>
                <span class="card-price" data-price="10.00">R$ 10.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div class="card">
            <img src="/beijinho.png" alt="">
            <p class="card-title" data-name="beijinho">Beijinho</p>
            <div>
                <span class="card-price" data-price="8">R$ 8.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div class="card">
            <img src="/quindim.png" alt="">
            <p class="card-title" data-name="quindim">Quindim</p>
            <div>
                <span class="card-price" data-price="12.00">R$ 12.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div class="card">
            <img src="/brigadeiro.png" alt="">
            <p class="card-title" data-name="pudim">Pudim</p>
            <div>
                <span class="card-price" data-price="pudim">R$ 15.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div class="card">
            <img src="/beijinho.png" alt="">
            <p class="card-title" data-name="cocada">Cocada</p>
            <div>
                <span class="card-price" data-price="13.00">R$ 13.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div class="card">
            <img src="/quindim.png" alt="">
            <p class="card-title" data-name="bolo de chocolate">Bolo de Chocolate</p>
            <div>
                <span class="card-price" data-price="15.00">R$ 15.00</span>
                <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="location">
    <h2>Venha nos conhecer</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.6777886461514!2d-46.562530599999995!3d-23.687478100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1738704441178!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
