@import '../main/variables.scss';

.container {
    display: flex;
    max-width: 1240px;
    margin: auto;
    padding-top: 10dvh;

    .text {
        margin-right: 4dvh;

        h1 {
            text-align: center;
            color: $title;
        }

        p {
            line-height: 2rem;
            color: $title;
        }
    }

    div {
        flex: 1;
    }

    img {
        border-radius: 2dvh;
        filter: brightness(50%);
    }
}

@media (width <= 768px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 1dvh 1dvh;
        margin: 1dvh 1dvh;
    }
}