$blue: #0274be;
$primaryBlue: #006ba1;
$secondaryBlue: #005a87;
$bg-color: #49372a;
$chocolate: #3a3a3a;
$black: #282828;
$gray: #444444;
$primaryGray: #363636;
$green: #61CE70;
$primaryGreen: #23A455;
$white: #fff;
$primaryWhite: #F6F6F6;
$yellow: #F0C002;
$red: #df1010;
$primaryRed: #FF3131;
$title: #f0e0d1;